/**
 * @author syt123450 / https://github.com/syt123450
 */

#controlPanel {
    background-color: rgba(2, 36, 47, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    border-right: 1px solid #6597AF;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1;
}

.panelTitle {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #D6FDFF;
    margin-top: 50px;
    margin-bottom: 20px;
}

.sub-title {
    width: 100%;
    text-align: center;
    color: #D6FDFF;
    font-size: 18px;
    margin-bottom: 30px;
}

#predictionResult {
    margin-left: 21px;
}

.select-trigger, .reset-trigger {
    margin-top: 20px;
    color: #D7FDFF!important;
    background-color: rgba(84, 140, 169, 0.4)!important;
    font-family: 'ZCOOL KuaiLe', cursive!important;
}

.select-trigger {
    margin-left: 21px;
}

.reset-trigger {
    margin-left: 16px;
}